<style>

.com { 
    text-align: center;
    padding: 20px;
}

.bord{
	background: #FFF8DC;
	border: 1px;
	border-style: solid;
	border-color: #DCDCDC;
	border-radius: 20px;
	margin-bottom: 5px;
	padding: 20px;
	margin-right: 15px;
	margin-left: 15px;
}

.ram
{
	margin-right: 15px;
	margin-left: 15px;
}

.time{
	text-align: right;
	opacity: 0.65;
}

.post{
	margin-left: 20px;
	margin-right: 20px;
}
</style>
<div class="post">
<div id="ed"><% if current_user != nil and current_user.id == 1 %>
				<%= link_to "Edit",  edit_article_path %> or
				<%= link_to "Delete", article_path, data: {confirm: 'Rili deleted your post?'}, method: :delete %>
			<%end%>
</div>
<h1><%= @article.title %></h1>
<p><%= sanitize @article.body %></p>
<hr>
</div>

<% @comments.each do |comment|%>
<div class="ram">
 User <b><%= comment.user.nickname %></b> write:</p>
 <div class = "bord">
<i><%= comment.text %></i>
</div>
<div class="time"><span class="glyphicon glyphicon-time"></span>
<small><%= comment.created_at %></small></div>
<%= link_to 'Destroy', [comment.article, comment], :confirm => 'Are you sure?', :method => :delete %>
</div>
<% end %>


<%= form_for :postcomment, url: article_postcomments_path(@article.id) do |f| %>
<% if flash[:notice] %>
  <div class="notice"> <%= flash[:notice] %> </div>
<% end %>

<div class="com">
	<p><%= f.label "Comment" %></p>
	<%= f.text_area :text,  class: "content-field", placeholder: "Add a comment"%><br />
 

 <p><%= f.submit "Send" %></p>
 </div>
<%end%>