	<%= f.text_field :etitle, autofocus: true, class: 'form-control', placeholder: 'Event name', required: true %>
	<br/>
	<p><%= f.label "Data" %></p>
	<%= date_select("event", "edate", start_year: 2018, end_year: 2088, order: [:day, :month, :year]) %><br />
	<br/>
	<p><%= f.label "Time" %></p>
	<%= time_select("event", "etime") %><br />
	<br/>
	<%= f.text_field :venue, autofocus: true, class: 'form-control', placeholder: 'Addres', required: true  %>
	<br/>
	<%= f.text_field :venume_det, autofocus: true, class: 'form-control', placeholder: 'Name institution', required: true  %>
	<br/>
	<p><%= f.label "Тип" %></p>
	<%= f.select :etupe, ['Концерт','Екскурсія','Вистава','Збори'] %><br />
	<br/>
	<p><%= f.label "Вхід" %></p>
	<%= f.select :ecost, ['Безкоштовний','Платний'] %><br />
	<br/>
	<p><%= f.label "Інформація" %></p>
	<div class="tiny"><%= f.text_area :einfo, :class => "tinymce", :rows => 10, :cols => 50 %><br/>
	<%= tinymce %></div><br/>

	<br/>
	<%= button_tag( :class => "btn btn-lg btn-primary btn-block") do %>
            <i class="zmdi zmdi-check m-r-xs"></i> <%= t("save") %>
          <% end %>


