<style>
</style>
<br>
<div id="ed">
    <% if current_user != nil and current_user.admin %>
            <%= link_to "Редагувати",  edit_event_path %> or
            <%= link_to "Видалити", event_path, data: {confirm: 'Точно видалити цю подію??'}, method: :delete %>
    <%end%>
<div class="container">
<p><h2><%= @event.etitle %></h2> <hr> 
<div class="row">
    <div class="col-sm6 col-md-4 col-lg-2 mt-4">
        <p style="font-weight:bold">Дата проведення:</p>
        <p style="font-weight:bold">Час проведення:</p>
        <p style="font-weight:bold">Місцезнаходження:</p>
        <p style="font-weight:bold">Місце проведення:</p>
        <p style="font-weight:bold">Тип події:</p>
        <p style="font-weight:bold">Вхід:</p>
    </div>

    <div class="col-sm6 col-md-4 col-lg-5 mt-4">
        <p><%= @event.edate.strftime('%d %b %Y') %>
        <p><%= @event.etime.strftime('%H:%M') %>
        <p><%= @event.venue %>
        <p><%= @event.venume_det %>
        <p><%= @event.etupe %>
        <p><%= @event.ecost %>
    </div>

</div>
<hr><h5><p><%= sanitize @event.einfo %></h5>
</div>
<br>

