<br>
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
     <div class="login100-form-title" style="background-image: url('<%= asset_path('login-bg.jpg') %>');">
    <span class="login100-form-title-1">
          <%= t("new_infocenter") %>
        </span>
        </div>
		<div class="col-md-6 col-md-offset-3 login-box">
<center><%= form_for @infocenter, url: infocenters_path, validate: true do |f| %>
	<% if @infocenter.errors.any? %>
	 <% @infocenter.errors.full_messages.each do |msg| %>
	 	<li><%=msg%></li>
	   <%end%>
	 <%end%>
	<%= render 'form', f:f%>
<%end%></center>
