<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->


  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
      <h1><%= t("department_of_international_law") %></h1>
       <div class="col-md-2 col-md-offset-5 hidden-xs">
                    <button class="btn btn-danger btn-block scroll-link" type="button" data-id="posts"><%= t("show_more") %></button>
                </div>
                <div class="col-xs-3 col-xs-offset-4 hidden-sm hidden-md hidden-lg">
                    <button class="btn btn-danger scroll-link" type="button" data-id="posts"><%= t("show_more") %></button>
                </div>  
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">  
      <h1><%= t("department_of_international_law") %></h1>
       <div class="col-md-2 col-md-offset-5 hidden-xs">
                    <button class="btn btn-danger btn-block scroll-link" type="button" data-id="posts"><%= t("show_more") %></button>
                </div>
                <div class="col-xs-3 col-xs-offset-4 hidden-sm hidden-md hidden-lg">
                    <button class="btn btn-danger scroll-link" type="button" data-id="posts"><%= t("show_more") %></button>
                </div>      
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">   
      <h1><%= t("department_of_international_law") %></h1>
       <div class="col-md-2 col-md-offset-5 hidden-xs">
                    <button class="btn btn-danger btn-block scroll-link" type="button" data-id="posts"><%= t("show_more") %></button>
                </div>
                <div class="col-xs-3 col-xs-offset-4 hidden-sm hidden-md hidden-lg">
                    <button class="btn btn-danger scroll-link" type="button" data-id="posts"><%= t("show_more") %></button>
                </div>    
      </div>
    </div>
  </div> 
</div>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>