<style>
.ram a{
	text-decoration:none;
	color: black;
}
</style>
<div class="ram">
<br>




<div class="container">
<br>
		<% @article.each do |article| %>

	        <div class="well">
				<div class="media">
				   	<div class="media-body">
			           		<div id="ed"><% if current_user != nil and current_user.id == article.user_id %>
								<%= link_to "Edit",  edit_article_path(article.id) %> or
								<%= link_to "Delete", article_path(article.id), data: {confirm: 'Rili deleted your post?'}, method: :delete %>
							<%end%>
							</div>	

							<center><h4><%= link_to article.title, article_path(article.id) %></h4></center>
							<p><i><%= sanitize article.body %></i></p>
							<span class="glyphicon glyphicon-time"></span> 
							<%= article.created_at %>
						<div class="ram">
							<center><%= link_to "Read more", article_path(article.id), class: "btn btn-default" %></center>	
						</div>
					</div>
    			</div>
  			</div>
		<%end%>
	</div>
</div>
