 
 <%= render "pages/block" %>
<br>
<div class="container">
	<div class="row">
	
	<p><h3 style="font-weight: 900;">НОВИНИ <h5 class="link">| <%= link_to "Всі новини", posts_path %></h5></h3></p>
	
	<% @posts[0..2].each do |post| %>
	 <div class="col-sm-6 col-md-4 col-lg-3 mt-4">     
		<div class="card" style="width: 25rem;">
		  <div class="card-img-top"><%= image_tag post.image(:thumb) %></div>
		     <div class="card-block">
			    <h4 class="card-title"><%= link_to post.title, post_path(post.id) %></h4>
			    
			    <center><%= link_to "Дізнатись більше", post_path(post.id), class: "btn btn-default" %></center>
		     </div>
		</div>
	 </div>
	<%end%>	
		
	</div>
</div>

<div class="container">
	<div class="row">
		<p><h3 style="font-weight: 900;">ПОДІЇ <h5 class="link">| <%= link_to "Всі події", events_path %></h5></h3></p>
		<% @events.each do |event| %>
			<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
				<ul class="event-list">
					<li>
						<time datetime="2014-07-20">
							<span class="day"><%= event.edate.day %></span>
							<span class="month"><%= event.edate.month %></span>
							<span class="year"><%= event.edate.year %></span>
							<span class="time">ALL DAY</span>
						</time>
						<div class="info">
							<h2 class="title"><%= event.etitle %></h2>
							<p class="desc"><%= sanitize event.einfo%></p>
						</div>
					</li>
			</div>
		<%end%>
	</div>
</div>
<br>
<div class="lecsion">
<br>
<p><h3 style="font-weight: 900; margin-left: 65px;">ЛЕКЦІЇ</h3></p>
</div>
