<%= render "pages/block" %>
<div class="container">
	<div class="row">
	<section id="posts">
		<div class="col-sm-6 col-md-8 col-lg-9 mt-4">  
		<h3 style="font-weight: 900;"><%= t("news") %> |<i class="link"> <%= link_to t("all_news"), posts_path %></i></h3>

		<% @posts[0..2].each do |post| %>
		    <div class="col-sm-6 col-md-8 col-lg-4 mt-9">
			<div class="card" style="width: 25rem;">
			  <div class="card-img-top"><%= image_tag post.image, height: '190' %></div>
			     <div class="card-block">
				    <h4 class="card-title"><%= link_to post.title, post_path(post.id) %></h4>
			     </div>
			</div>
		 	</div>
		<%end%>	
		</div>
	</section>
		
	<section id="events">	
		<div class="[ col-sm-6 col-md-4 col-lg-2 mt-4]">
		<h3 style="font-weight: 900;"><%= t("events") %> | <i class="link"><%= link_to t("all_events"), events_path %></i></h3>
		<% @events[0..2].each do |event| %>
				<ul class="event-list">
					<li>
						<time datetime="12-20">
							<span class="day"><%= event.edate.day %></span>
							<span class="month"><%= event.edate.month %></span>
						</time>
						<div class="info">
							<h2 class="title"><%= link_to event.etitle, event_path(event.id) %></h2>
						</div>
					</li>
				</ul>
		<%end%>
		</div>
	</section>
	</div>
</div>
<br>
<div class="gallerya">
<br>
<div class="container">
<p><h3 style="font-weight: 900; margin-left: 65px;"><%= t("gallery") %> | <i class="link"><%= link_to t("all_photo"), pets_path %></i></h3></p>
  <%= link_to pets_path do %>
<div class="gallery">
  <% @pets[0..2].each do |pet| %>
    <figure>
    <%= image_tag pet.image,height: '244', width: '255', alt: "" %>
    </figure>
  <%end%>
</div>
<%end%>