     <div class="container">
        <div class="row">
            <div class="hidden-xs col-sm-4">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Меню</h4>
                        </div>
                        <ul class="nav nav-pills nav-stacked">
                            <li><%=link_to 'Новини'%></li>
                            <li><%=link_to 'Інфо-Центр'%></li>
                            <li><%=link_to 'Лекції'%></li>
                            <li><a href="http://www.uzhnu.edu.ua/">Сайт університету</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8">


	<% @posts.each do |post| %>
   		<div id="ed"><% if current_user != nil and current_user.id == article.user_id %>
			<%= link_to "Edit",  edit_post_path(post.id) %> or
			<%= link_to "Delete", post_path(post.id), data: {confirm: 'Точно видалити цей пост?'}, method: :delete %>
		<%end%>
		</div>	

			<center><h4><%= link_to post.title, post_path(post.id) %></h4></center>
			<div class="text">
			<p><i><%= sanitize post.body %></i></p>
			</div>
			<div class="time">
			<span class="glyphicon glyphicon-time"></span> 
			<%= post.created_at %>
			</div>
		<div class="ram">
			<center><%= link_to "Читати більше", post_path(post.id), class: "btn btn-default" %></center>	
		</div>
		<hr>
	<%end%>
	</div>
