
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form-title" style="background-image: url('<%= asset_path('login-bg.jpg') %>');">
        <span class="login100-form-title-1">
          Welcome to our site
        </span>
      </div>

      <div class="col-md-6 col-md-offset-3 login-box">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin'}) do |f| %>
          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email Address', required: true %>
          <br>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password', required: true %>

          <% if devise_mapping.rememberable? -%>
              <div class="remember-box">
                <label class="checkbox">
                <%= f.label class: 'checkbox' do %>
                  <%= f.check_box :remember_me %> Remember me
                <% end %>
              </div>
            <% end -%>

          <%= button_tag( :class => "btn btn-lg btn-primary btn-block") do %>
            <i class="zmdi zmdi-sign-in m-r-xs"></i>Log in
          <% end %>
          <div class="login-links">
            <a href="<%= new_password_path(resource_name) %>" class=""><i class="zmdi zmdi-key m-r-xs"></i>Forgot your password?</a>
            <a href="<%= new_registration_path(resource_name) %>" class=""><i class="zmdi zmdi-account-add m-r-xs"></i>Register now</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>