 	<style>
 		.post{
 			width: 800px;
 			background-color: white;
 			padding:0px 0px 0px 0px;
 		}

 		.right_block{
 			position: absolute; /* Абсолютное позиционирование */
			  right: 0; /* Положение от правого края окна */
			  top: 50px; /* Положение от верхнего края */
			  width: 270px; /* Ширина колонки */
 		}
 	</style>
<br>
<div class="container">
	<div class="row">
<div class="post">

<div id="ed"><% if current_user != nil and (current_user.id == 1 or current_user.role.EditPosts) %>
				<%= link_to "Редагувати",  edit_post_path %> or
				<%= link_to "Видалити", post_path, data: {confirm: 'Точно видалити данний пост?'}, method: :delete %>
			<%end%>
</div>
<center><%= image_tag @post.image(:medium) %></center>
<center><h1><%= @post.title %></h1></center>
<center><h6><%= @post.created_at.strftime('%b %d %Y') %></h6></center>
<p><%= sanitize @post.body %></p>
<hr>


<% @comments.each do |comment|%>
<div class="bb">
 Користувач <b><%= comment.user.nickname %></b> написав:</p>
 <div class = "bord">
<i><%= comment.text %></i>
</div>
<div class="time"><span class="glyphicon glyphicon-time"></span>
<small><%= comment.created_at.strftime('%b %d, %Y') %></small></div>
<%= link_to 'Видалити', [comment.post, comment], :confirm => 'Ви впевнені?', :method => :delete %>
</div>
<% end %>

<%if current_user !=nil and current_user.role.CommentPosts %>
<%= form_for :postcomment, url: post_postcomments_path(@post.id) do |f| %>
<% if flash[:notice] %>
  <div class="notice"> <%= flash[:notice] %> </div>
<% end %>

<div class="com">
	<p><%= f.label "Коментарь" %></p>
	<%= f.text_area :text,  class: "content-field", placeholder: "Add a comment"%><br />
 

 <p><%= f.submit "Відправити" %></p>
 </div>
 <%end%>
<%end%>
</div>

<br>


	<div class="right_block">
		<p><h3 style="text-align: center;">ОСТАННІ НОВИНИ</h3></p>
	<% @posts[0..2].each do |post| %>
			<div class="[ col-xs-1 col-sm-offset--1 col-sm-9 ]">
		<div class="card" style="width: 25rem;">
		  <div class="card-img-top"><%= image_tag post.image(:thumb) %></div>
		     <div class="card-block">
			    <h4 class="card-title"><%= link_to post.title, post_path(post.id) %></h4>
			    
			    <center><%= link_to "Дізнатись більше", post_path(post.id), class: "btn btn-default" %></center>
		     </div>
		</div>
		<br>
	 </div>
	 <br>
	<%end%>	
	</div>
	</div>
	</div>
