<!DOCTYPE html>
<html>
  <head>
    <title>Pravo</title>
    <%= csrf_meta_tags %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&amp;subset=cyrillic" rel="stylesheet">
  </head>

  <body>
    
  <%= render 'layouts/navbar' %>
  <br>
  <div class="content-nav">

    <div class="ram">
      <div class="col-xm-3">
    <%= yield %>
    </div>
    </div></div>
  <%=render 'layouts/footer' %>
  </body>
</html>

